<?xml version='1.0' encoding='utf-8'?>
<plugin id="binish.handynotification" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>HandyNotificationAndroid</name><js-module name="HandyNotificationAndroid" src="www/HandyNotificationAndroid.js"><clobbers target="cordova.plugins.HandyNotificationAndroid" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="HandyNotificationAndroid"><param name="android-package" value="binish.handynotification.HandyNotificationAndroid" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/HandyNotificationAndroid.java" target-dir="src/binish/handynotification/HandyNotificationAndroid" /></platform></plugin>